<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ranken.mychal_clark.checkmyreceipt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CheckMyReceipt"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".ReceiptListActivity"
            android:exported="false"
            android:label="@string/myReceipts"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter> </activity>
        <activity
            android:name=".ItemListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TotalsActivity"
            android:exported="true"
            android:parentActivityName=".ItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ranken.mychal_clark.checkmyreceipt.ItemListActivity" />
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:exported="true"
            android:parentActivityName=".ItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ranken.mychal_clark.checkmyreceipt.ItemListActivity" />
        </activity>
    </application>

</manifest>